{% set mjs_path = url_for('static', service='js', filename='components.mjs') %}
{% macro digest_list() %}
<template id="digest-list-tmpl">
  <link rel="stylesheet" href="{{ url_for('static', service='css', filename='out.css') }}" />

</template>
<script type="module">
  import { registerDigestList } from "{{ mjs_path }}"
  registerDigestList();
</script>
{% endmacro %}

{% macro search_bar() %}
<template id="search-bar-tmpl">
  <link rel="stylesheet" href="{{ url_for('static', service='css', filename='out.css') }}" />
  <div class="relative w-40 sm:w-60 lg:w-80">
    <form id="search-form" action="#" method="post" class="flex flex-row items-center relative justify-start w-full">
      <input id="search-input" type="search" name="search" placeholder="搜索当前用户内容" class="px-2 py-2 border border-gray-300 rounded-md box-border flex-grow
        focus:outline-none focus:ring-2 focus:ring-blue-500 max-w-32 sm:max-w-52 lg:max-w-72" />
      <button type="submit" class="ml-3 box-border">
        <img src="{{ url_for('static', service='default', filename='search.png') }}" class="aspect-square w-5" />
      </button>
    </form>
    <div id="search-results"
      class="absolute w-full z-10 mt-1 flex-1 bg-white border border-gray-300 rounded-md shadow-lg top-full hidden max-h-72 overflow-scroll items-stretch">
    </div>
  </div>
</template>
<script type="module">
  import { registerSearchBar } from "{{ mjs_path }}"
  registerSearchBar();
</script>
{% endmacro %}

{% macro digest_item() %}
<template id="digest-tmpl">
  <link rel="stylesheet" href="{{ url_for('static', service='css', filename='out.css') }}" />
  <div class="w-full max-h-full flex flex-col justify-start bg-white shadow-md rounded-lg p-4 box-border">
    <dl class="w-full pb-1 flex flex-row justify-start items-stretch box-border" style="max-height: 25%;">
      <dt class="sr-only">标题</dt>
      <dd class="w-full max-h-full flex flex-row justify-start items-center overflow-hidden box-border">
        <h1 id="title" class="text-gray-800 font-bold text-base box-border">
        </h1>
      </dd>
    </dl>
    <dl class="w-full pb-1 pt-1 flex flex-row justify-start items-stretch box-border" style="max-height: 65%;">
      <dt class="sr-only">图片</dt>
      <dd class="w-1/3 pr-1 max-h-full flex rounded overflow-hidden box-border">
        <img id="image" src="#" class="self-center w-full h-full object-cover box-border" />
      </dd>
      <dt class="sr-only">内容</dt>
      <dd class="w-2/3 pl-1 max-h-full text-gray-700 overflow-hidden box-border">
        <div id="digest" class="text-base leading-relaxed box-border">
        </div>
      </dd>
    </dl>
    <dl class="w-full pt-1 flex flex-row justify-between items-stretch text-sm text-gray-600 box-border h-5 sm:h-9">
      <dt class="sr-only">作者</dt>
      <dd id="author" class="flex items-center">
        <svg class="w-4 h-4 mr-2 text-indigo-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path d="M12 12c2.1 0 3.8-1.7 3.8-3.8S14.1 4.4 12 4.4s-3.8 1.7-3.8 3.8S9.9 12 12 12z" />
          <path d="M12 14.6c-3.5 0-10.5 1.8-10.5 5.2v1.6h21v-1.6c0-3.4-7-5.2-10.5-5.2z" />
        </svg>
        作者信息
      </dd>
      <dt class="sr-only">点赞数</dt>
      <dd class="flex items-center">
        <svg class="w-4 h-4 mr-2 text-indigo-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
        </svg>
        点赞数信息
      </dd>
      <dt class="sr-only">发布时间</dt>
      <dd id="timestamp" class="flex items-center">
        <svg class="w-4 h-4 mr-2 text-indigo-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path d="M12 2a10 10 0 100 20 10 10 0 000-20zm1 11h-4V7h2v4h2v2z" />
        </svg>
        发布时间信息
      </dd>
    </dl>
  </div>
</template>

<script type="module">
  import { registerDigestItem } from "{{ mjs_path }}"
  registerDigestItem();
</script>
{% endmacro %}