{% extends 'auth.html' %}
{% block mainbox %}
<h2 class="text-2xl font-semibold text-gray-800 mb-6">登录</h2>
<form action="#" method="POST" id="login-form">
  <div class="mb-4" id="username-div">
    <label for="username" class="block text-sm font-medium text-gray-700"><span class="font-semibold">用户名</span></label>
    <input id="username" type="text" name="username"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      required />
  </div>
  <div class="mb-6" id="password-div">
    <label for="password" class="block text-sm font-medium text-gray-700"><span class="font-semibold">密码</span></label>
    <input id="password" type="password" name="password"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      required />
  </div>
  <div class="mb-4">
    尚未注册？<a class="text-blue-500 underline font-bold hover:text-blue-700 hover:cursor-pointer"
      href="{{ url_for('auth.register') }}">立即注册</a>
  </div>
  <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
  <br />
  <button type="submit" id="login-button"
    class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-200">登录</button>
</form>
{% endblock %}

{% block script %}
<script>
  const loginUrl = "{{ url_for('auth.login') }}"
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}