{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown-light.min.css" />
<style>
  .passage * {
    border: none !important;
  }
</style>
{% endblock %}

{% block body %}

<body class="h-screen flex flex-col justify-between items-stretch bg-gray-800">


  <div id="too-frequent" class="hidden fixed inset-0 z-50 bg-black bg-opacity-50">
    <div class="w-full h-full flex items-center justify-center">
      <div class="bg-white p-8 rounded-lg shadow-lg w-96 transition-transform transform scale-100 hover:scale-105">
        <div class="flex flex-col items-center">
          <h2 class="text-xl font-semibold mb-4">⚠️服务请求过于频繁</h2>
          <p class="text-gray-600 mb-4">请稍后再试，感谢您的耐心等待。</p>
          <button id="too-frequent-button"
            class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition">确认</button>
        </div>
      </div>
    </div>
  </div>
  {% block toast %}

  {% endblock %}

  <header class="bg-white shadow-lg border-b-2">
    <div class="px-4 py-6 flex justify-between items-center w-full">
      <a href="#" class="text-xl font-semibold text-gray-800 ml-10">AYABlogs</a>
      <div class="flex justify-between items-center mr-10">
        <nav class="mr-6">
          <ul class="flex space-x-4">
            {% block topbar %}

            {% endblock %}
          </ul>
        </nav>
        <div class="relative flex justify-between items-center">
          {% block searchform %}

          {% endblock %}
          <div id="search-results"
            class="absolute z-10 mt-1 w-64 bg-white border border-gray-300 rounded-md shadow-lg top-full hidden">
          </div>
        </div>
      </div>
    </div>
  </header>

  {% block main %}

  {% endblock %}
  <footer class="bg-transparent text-white py-3">
    <div class="w-full mx-auto px-4">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <h5 class="text-lg font-semibold">AYABlogs</h5>
        <p class="text-sm">Copyleft 2024 AYABlogs. No rights reserved.</p>
        <p class="text-sm">Contact: mementototomori@gmail.com</p>
      </div>
    </div>
  </footer>
  {% block script %}

  {% endblock %}
</body>
{% endblock %}