{% extends 'page.html' %}
{% from 'components.html' import search_bar %}

{% block main %}
{# <main class="flex-grow flex-shrink overflow-hidden" id="canvas-container">
  <canvas id="main-canvas" class="block w-full h-full">您的浏览器不支持html5 canvas</canvas>
</main> #}
<div is="search-bar" placeholder="foo"></div>
{#
<script>
  const canvas = document.getElementById("main-canvas");
  const container = document.getElementById("canvas-container");

  function init_canvas() {
    if (canvas.getContext) {
      //resize_canvasboard();
      let context = canvas.getContext("2d");
    }
  }
  function resize_canvasboard() {
    console.log(container.offsetHeight, container.clientHeight, container.offsetWidth);
    canvas.height = container.offsetHeight;
    canvas.width = container.offsetWidth;
    canvas.style.height = container.offsetHeight + "px";
    canvas.style.width = container.offsetWidth + "px";
  }
  // window.addEventListener("resize", resize_canvasboard);
  document.addEventListener("DOMContentLoaded", init_canvas);
</script>
<style>
  #main-canvas {
    background-image: url({{ random_background }});
    background-size: cover;
    background-position: center;
  }
</style> #}
{{ search_bar() }}
{% endblock %}