{% extends 'page.html' %}

{% block title %}
<title>{{ user.username }}的个人空间</title>
{% endblock %}

{% block toast %}
{% if is_current_user %}
<div id="confirmation-modal" class="hidden fixed inset-0 z-50 bg-black bg-opacity-50">
  <div class="w-full h-full flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-80">
      <p class="text-lg mb-4">确实要删除吗？</p>
      <div class="flex justify-end space-x-4">
        <button id="confirm-button" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">确认</button>
        <button id="cancel-button" class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">取消</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block topbar %}

{% if is_current_user %}
{% if is_draft %}
<li>
  <a href="{{ url_for('page.space', uid=user.id) }}" class="text-gray-600 hover:text-gray-800">查看主页</a>
</li>
{% else %}
<li>
  <a href="{{ url_for('page.space', uid=user.id, query='draft') }}" class="text-gray-600 hover:text-gray-800">查看草稿箱</a>
</li>
{% endif %}
{% else %}
<li>
  <p class="text-gray-600 hover:text-gray-800">{{ user.username }}的个人空间</p>
</li>
{% endif %}

{% if is_current_user %}
<li>
  <a href="{{ url_for('auth.logout') }}" class="text-gray-600 hover:text-gray-800">退出登录</a>
</li>
{% else %}
<li>
  <a href="{{ url_for('page.space_index') }}" class="text-gray-600 hover:text-gray-800">前往个人主页</a>
</li>
{% endif %}
{% endblock %}

{% block searchform %}
<form action="{{ url_for('page.search', uid=user.id) }}" method="post">
  <input id="search-input" type="text" name="search" placeholder="搜索当前用户内容"
    class="px-3 py-2 w-64 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
  <button type="submit" class="ml-4"><img src="{{ url_for('static', service='default', filename='search.png') }}"
      class="aspect-square w-5 self-center" /></button>
</form>
{% endblock %}
{% block main %}
<main class="flex-grow bg-white w-full">
  <div class="w-full h-56 bg-cover bg-center flex flex-col justify-end items-center"
    style="background-image: url({{ random_background }});">
    <div class="container">
      <div class="flex items-center">
        <img src="{{ avatar }}" class="w-20 h-20 rounded-full border-4 border-white -mb-10" />
        <div class="ml-4 mb-2">
          <h2 class="text-white text-2xl font-semibold">{{ user.username }}</h2>
          <div class="flex flex-row">
            <div id="sign-input-box" class="text-gray-300 mr-2 bg-transparent" contenteditable="false">{{ user.intro
              or 'Colorless green ideas sleep furiously.' }}</div>
            {% if is_current_user %}
            <button id="sign-input-button" type="button"
              data-url="{{ url_for('page.edit_user_profile', uid=user.id) }}"><img
                src="{{ url_for('static', service='default', filename='edit.png') }}"
                class="aspect-square w-5 self-center" style="filter: invert(100%);" /></button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-6"></div>
  {% for passage in passages %}
  <div class="passage-container container p-6 border-b m-auto">
    <div class="flex justify-end w-full mb-2 min-h-5">
      {% if is_current_user %}
      <p class="flex w-12 justify-between">
        <button type="button" data-url="{{ url_for('page.edit', uid=user.id, pid=passage.id) }}"><img
            src="{{ url_for('static', service='default', filename='edit.png') }}"
            class="aspect-square w-5 self-center" /></button>
        <button type="button" data-url="{{ url_for('page.delete', uid=user.id, pid=passage.id) }}"
          class="delete-button"><img src="{{ url_for('static', service='default', filename='delete.png') }}"
            class="aspect-square w-5 self-center" /></button>
      </p>
      {% endif %}
    </div>
    <article class="w-full markdown-body passage max-h-48 overflow-hidden">{{ passage.content }}</article>
    <div class="w-full flex justify-end mt-3">
      <p class="text-gray-500 text-sm">{{ passage.create_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    </div>
  </div>
  {% endfor %}
</main>
{% endblock %}

{% block script %}
<script type="module">
  import { search } from "{{ url_for('static', service='js', filename='search.js') }}"
  search("passage", "{{ url_for('page.search') }}");
  {% if is_current_user %}
  import { editable } from "{{ url_for('static', service='js', filename='space.js') }}"
  editable();
  {% else %}
  import { noneditable } from "{{ url_for('static', service='js', filename='space.js') }}"
  noneditable();
  {% endif %}
</script>
{% endblock %}