{% extends 'page.html' %}
{% from 'components.html' import search_bar %}
{% from 'components.html' import digest_item %}

{% block main %}
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>
<div is="search-bar" placeholder="foo" search_url="/"></div>

<div is="digest-item" class="w-full max-h-52 sm:max-h-96" title-content="1"
  digest="广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为广阔天地，大有作为"
  image-url="{{ url_for('static', service='default', filename='avatar.jpg') }}">
</div>
{% endblock %}

{% block components %}
{{ search_bar() }}
{{ digest_item() }}
{% endblock %}